.paper-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  background-color: white;
  padding: 24px;
  border-radius: 4px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  .user-name {
    margin-right: 8px;
  }
}

.radio-inputs-container {
  display: flex;
}

.permits-container {
  padding: 16px;
}
