#client-app {
  .profile-content {
    max-width: 500px;
    padding: 16px;
    margin: 0 auto;
    .input-container {
      display: flex;
      max-width: 250px;
      margin: 8px 0;
    }
    > div {
      margin-bottom: 40px;
    }
    h5 {
      margin-bottom: 8px;
    }
    .consults-range {
      label {
        font-weight: 500;
        font-size: 0.9rem;
        color: #414141;
      }
      p span {
        color: #2cc7e9;
      }
    }
  }
}
