.usage-bar {
  height: 16px;
  width: 100%;
  background: linear-gradient(90deg, #6cbe63 50%, #ec9f2f, #f1533d);
  border-radius: 8px;
  position: relative;
}

.usage-indicactor {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  top: 3px;
  left: 0;
  transform: translateX(4px);
}
