.dashboard {
  padding: 16px;
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
